*.class
grails-preconditions*.zip
*.swp
sitemaps/
target/
borrame/
upload/
invisible/
.project
target/classes
target/classes/
test/reports
*.class
prodDb*.log
prodDb*
*.orig
*.*~
*~
*classpath*
*project*
.settings
*stacktrace.log*
*.war
*.tar.gz
*.rar
*.amazonaws.com
web-app/WEB-INF/classes
*.1
devDbVip.log
devDbVip.properties
devDbVip.script
testDbVip.log
testDbVip.properties
testDbVip.script
nohup.out
cobertura.ser
BKPdevDbVip.*
*.epf
*.log
*.patch
login.toDelete
clover.license
produ/
todo-items
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.gitignore
vip.iml
