<plugin name='preconditions' version='0.6' grailsVersion='1.3.2 &gt; *'>
  <author>Damian Noseda</author>
  <authorEmail>dnoseda@gmail.com</authorEmail>
  <title>Google Preconditions in Grails</title>
  <description>\
Inject method checkArgument of Google Preconditions in controllers and services
</description>
  <documentation>http://grails.org/plugin/preconditions</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>PreconditionsBootStrap</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>